@font-face {
  font-family: "Gotham Pro";
  src: url("../font/GothamPro-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../font/GothamPro-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../font/GothamPro-Black.woff2");
  font-weight: 900;
  font-style: normal;
}
